// Place all the styles related to the flowers controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flower {
  &__title {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #FFFFFF;
  }
  &-outside-block {
    background: #18BC9C;
    min-height: 100%;
  }
  &__form-label {
    color: #FFFFFF;
  }
  &__add_new_flower {
    color: #FFFFFF;
  }
}
html,body {
  height: 100%;
}
