<section class="success" id="about">
  <div class="container">
    <h2 class="text-center">説明</h2>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p>ポプラー(pop_flower)とは、</p>
      </div>
      <div class="col-lg-8 mx-auto text-center">

      </div>
    </div>
  </div>
</section>